@font-face {
    font-family: "HankenGrotesk-Bold";
    src: url("../fonts/static/HankenGrotesk-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "HankenGrotesk-ExtraBold";
    src: url("../fonts/static/HankenGrotesk-ExtraBold.ttf")
      format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "HankenGrotesk-Medium";
    src: url("../fonts/static/HankenGrotesk-Medium.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

:root {
    /*Screen widths*/
    --mobileW: 375px;
    --desktopW: 1440px;
    /*Dimensions and Border radius*/
    --totalWidth: 100vw;
    --cardHeight: 70vh;
    --cardRadius: 20px;
    --textWidth: calc(var(--totalWidth) * (4 / 6));
    --textWidth2: calc(var(--totalWidth) * 0.8);
    --listHeight: calc(var(--cardHeight) * 0.52);
  
    --minWidth: 600px;
    --minCard: calc(var(--minWidth) / 2);
    --minTextWidth: calc(var(--minCard) * (4 / 6));
    --minTextWidth2: calc(var(--minCard) * 0.81);
    --minHeight: 400px;
    --minListHeight: 220px;
  
    --circleDiameter: calc(var(--totalWidth) * 0.55);
    --circleRadius: calc(var(--circleDiameter) / 2);
    --minDiameter: 150px;
    --minRadius: calc(var(--minDiameter) / 2);
    --boxRadius: 10px;
    --buttonRadius: 15px;
    /*Primary colors*/
    --lRed: hsl(0, 100%, 67%);
    --oYellow: hsl(39, 100%, 56%);
    --greenT: hsl(166, 100%, 37%);
    --cBlue: hsl(234, 85%, 45%);
    /*Transparency colors*/
    --listTransparency: 0.05;
    --lRedBack: hsla(0, 100%, 67%, var(--listTransparency));
    --oYellowBack: hsla(39, 100%, 56%, var(--listTransparency));
    --greenTBack: hsla(166, 100%, 37%, var(--listTransparency));
    --cBlueBack: hsla(234, 85%, 45%, var(--listTransparency));
    /*Neutral colors*/
    --whitex: hsl(0, 0%, 100%);
    --pBlue: hsl(221, 100%, 96%);
    --lLavender: hsl(241, 100%, 89%);
    --dGrayB: hsl(224, 30%, 27%);
    /*Gradient colors*/
    /*Background*/
    --slateBlue: hsl(252, 100%, 67%);
    --royalBlue: hsl(241, 81%, 54%);
    /*Circle*/
    --violetBlue: hsla(256, 72%, 46%, 1);
    --persianBlue: hsla(241, 72%, 46%, 0);
    /*Font variables*/
    --fontSizeP: 18px;
    --fontWeight1: 500;
    --fontWeight2: 700;
    --fontWeight3: 800;
}
@media (min-width: 720px) {
    :root {
        /*Dimensions and Border radius*/
        --totalWidth: 50vw;
        --cardWidth: calc(var(--totalWidth) / 2);
        --cardOffsetT: calc((100vh - (var(--cardHeight))) / 2);
        --cardOffsetL: calc((100vw - (var(--totalWidth))) / 2);
        --textWidth: calc(var(--cardWidth) * (4 / 6));
        --textWidth2: calc(var(--cardWidth) * 0.8);

        --circleDiameter: calc(var(--cardWidth) * 0.55);
      }
}

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
p {
    margin: 15px;
    text-align: center;
  }
img {
    margin-left: 15px;
}

