.divMain {
    display: flex;
    flex-direction: column;
    align-items: center;
}
main {
    display: flex;
    align-items: center;
    width: var(--totalWidth);
    background-color: var(--whitex);
}

.mainCard {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background: linear-gradient(var(--slateBlue), var(--royalBlue));
    margin: 0;
}
.resultTitle {
    margin: 0;
    width: var(--textWidth);
    min-width: var(--minTextWidth);
    text-align: center;
    font-family: "HankenGrotesk-Medium";
    font-size: 22px;
    color: var(--lLavender);
}
.bigCircle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(var(--violetBlue), var(--persianBlue));
    width: var(--circleDiameter);
    min-width: var(--minDiameter);
    height: var(--circleDiameter);
    min-height: var(--minDiameter);
    border-radius: var(--circleRadius);
}
.totalResult {
    margin: 0;
    font-family: "HankenGrotesk-Bold";
    font-size: 70px;
    color: var(--whitex);
}
.fromResult {
    margin: 0;
    font-family: "HankenGrotesk-Medium";
    font-size: 20px;
    color: var(--slateBlue);
}
.resultAdjective {
    margin: 0;
    font-family: "HankenGrotesk-Bold";
    font-size: 34px;
    color: var(--whitex);
}
.resultText {
    width: var(--textWidth);
    min-width: var(--minTextWidth);
    text-align: center;
    font-family: "HankenGrotesk-Medium";
    margin: 0;
    font-size: 18.5px;
    color: var(--lLavender);
}

.summaryCard {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.summaryTitle {
    margin: 0;
    width: var(--textWidth2);
    min-width: var(--minTextWidth2);
    text-align: start;
    font-family: "HankenGrotesk-Medium";
    font-size: 24px;
    color: var(--dGrayB);
}
  
ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: var(--textWidth);
    min-width: var(--minTextWidth2);
    height: var(--listHeight);
    min-height: var(--minListHeight);
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: "HankenGrotesk-Medium";
    font-size: 19px;
}
li {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: var(--textWidth2);
    min-width: var(--minTextWidth2);
    justify-content: space-between;
    margin: 0;
    border-radius: var(--boxRadius);
}

.divList {
    display: flex;
    flex-direction: row;
  }
  .item1 {
    background-color: var(--lRedBack);
    color: var(--lRed);
  }
  .item2 {
    background-color: var(--oYellowBack);
    color: var(--oYellow);
  }
  .item3 {
    background-color: var(--greenTBack);
    color: var(--greenT);
  }
  .item4 {
    background-color: var(--cBlueBack);
    color: var(--cBlue);
  }
  
  .resultNumber {
    color: var(--dGrayB);
  }
  .fromNumber {
    color: var(--lLavender);
  }

  .submitButton {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: var(--textWidth2);
    min-width: var(--minTextWidth2);
    padding: 0;
    border: none;
    background-color: var(--dGrayB);
    border-radius: 30px;
    font-family: "HankenGrotesk-Medium";
    font-size: 19px;
    line-height: 22px;
    color: var(--whitex);
    transition: 1000ms ease-out;
    text-decoration: none;
    text-align: center;
  }
  .submitButton:hover {
    transition: 1000ms ease-out;
    padding: 2px;
    box-shadow: 0 0 7px 1px var(--greenT);
    color: var(--greenT);
    cursor: pointer;
  }
  .submitButton:active {
    background: linear-gradient(var(--slateBlue), var(--royalBlue));
    transition: 0s ease-out;
    box-shadow: none;
    color: var(--whitex);
  }

/*Feel free to remove these styles or customize in your own stylesheet 👍*/
footer {
    width: 100vw;
    margin: 0;
    padding: 0;
    border: none;
    background: lightsteelblue;
}

.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}
  
@media (max-width: 1250px) {
    .bigCircle {
      border-radius: var(--minRadius);
    }
}